
/.vs/
/SOLID/.vs/
/SOLID/DependencyInversionProblem/bin/
/SOLID/DependencyInversionProblem/obj/
/SOLID/DependencyInversionSolution/bin/
/SOLID/DependencyInversionSolution/obj/

/SOLID/InterfaceSegregationProblem/bin/
/SOLID/InterfaceSegregationProblem/obj/
/SOLID/InterfaceSegregationSolution/bin/
/SOLID/InterfaceSegregationSolution/obj/


/SOLID/LiskovSubstitutionProblem/bin/
/SOLID/LiskovSubstitutionProblem/obj/
/SOLID/LiskovSubstitutionSolution/bin/
/SOLID/LiskovSubstitutionSolution/obj/


/SOLID/OpenCloseProblem/bin/
/SOLID/OpenCloseProblem/obj/
/SOLID/OpenCloseSolution/bin/
/SOLID/OpenCloseSolution/obj/


/SOLID/SingleResponsibilityProblem/bin/
/SOLID/SingleResponsibilityProblem/obj/
/SOLID/SingleResponsibilitySolution/bin/
/SOLID/SingleResponsibilitySolution/obj/


*.user
